<a href="https://colab.research.google.com/github/vivastarkey-hub/MIS2800/blob/main/AFC_North_APPG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import sqlite3

In [13]:
#create AFC_North_Appg.db in temporary Colab local storage
conn=sqlite3.connect('AFC_North_Appg.db')

Create a STRICT TABLE

In [14]:
#define a structure for the data table
conn.execute('''
CREATE TABLE IF NOT EXISTS AFC_NORTH_APPG(
  team_name TEXT PRIMARY KEY NOT NULL,
  city TEXT,
  average_ppg REAL,
  wins_2025 INTEGER,
  losses_2025 INTEGER)
  STRICT;
''')

Add Team Stats

In [15]:
#adding team stats
conn.execute('''
INSERT OR REPLACE INTO AFC_NORTH_APPG (team_name, city, average_ppg, wins_2025, losses_2025)
VALUES ('Steelers', 'Pittsburgh',23.4, 10, 7),
('Ravens', 'Baltimore', 24.9, 8, 9),
('Bengals', 'Cincinnati', 24.4, 6, 11),
('Browns', 'Cleveland', 16.4, 5, 12);
''')
conn.commit() # Commit the changes

Filtering Teams

In [16]:
#slicing the data to show only specific teams
query = "SELECT * from AFC_NORTH_APPG WHERE average_ppg >20"
results = conn.execute(query)
for row in results:
  print(row)

('Steelers', 'Pittsburgh', 23.4, 10, 7)
('Ravens', 'Baltimore', 24.9, 8, 9)
('Bengals', 'Cincinnati', 24.4, 6, 11)

Sorting Data

In [17]:
#sort numerically for highest to lowest based on wins
query = "SELECT team_name, wins_2025 FROM AFC_NORTH_APPG ORDER BY wins_2025 DESC"
for row in conn.execute(query):
  print(row)

('Steelers', 10)
('Ravens', 8)
('Bengals', 6)
('Browns', 5)

THE Logic of AND and OR

In [21]:
#find the teams that have an average ppg of at least 24 or 8 wins
query_OR = "SELECT * FROM AFC_NORTH_APPG WHERE average_ppg >= 24 OR wins_2025 >= 8"
for row in conn.execute(query_OR):
  print(row)

('Steelers', 'Pittsburgh', 23.4, 10, 7)
('Ravens', 'Baltimore', 24.9, 8, 9)
('Bengals', 'Cincinnati', 24.4, 6, 11)