<a href="https://colab.research.google.com/github/vivastarkey-hub/MIS2800/blob/main/IC3_2_Starkey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#install the first library needed for SQLite3 to work using SQLite Magic
!pip install --upgrade pandas ipython-sql prettytable==3.10.1

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (3.0.0)
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable==3.10.1 in /usr/local/lib/python3.12/dist-packages (3.10.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable==3.10.1) (0.5.3)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)

In [5]:
#install the SQL extension.
!pip install ipython-sql
print("ipython sql installed")

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (3.10.1)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable->ipython-sql) (0.5.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
ipython sql installed

In [6]:
#load the SQL magic extension
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
import sqlite3
print("sqlite3 imported")

sqlite3 imported

In [10]:
#this creates a brand-new, empty database file named 'AdCampaigns2026.db'
conn = sqlite3.connect('SuperBowl_Finance.db')
print("SuperBowl_Finance database created")

SuperBowl_Finance database created

In [15]:
#This is required so Colab stops acting like Python and acts more like a SQL database terminal
%sql sqlite:///SuperBowl_Finance.db

In [16]:
%%sql
CREATE TABLE IF NOT EXISTS stock_performance (
    ticker TEXT,
    price_before_game REAL,
    price_week_after_game REAL,
    trading_volume_millions INTEGER
) STRICT;

 * sqlite:///SuperBowl_Finance.db
Done.

[]

In [17]:
%%sql
INSERT INTO stock_performance (ticker, price_before_game, price_week_after_game, trading_volume_millions)
VALUES
  ('PEP', 168.50, 172.10, 45),
  ('GOOGL', 142.80, 145.20,110),
  ('AMZN', 170.20, 178.45, 95),
  ('VZ', 40.10, 39.85, 60),
  ('TSLA', 190.00, 185.20, 150),
  ('TMUS', 197.68, 199.34, 100),
  ('STLA', 22.40, 23.10, 15);

 * sqlite:///SuperBowl_Finance.db
7 rows affected.

[]

In [33]:
%%sql
CREATE TABLE IF NOT EXISTS ad_buys (
  ticker TEXT PRIMARY KEY,
  company_name TEXT,
  ad_cost_millions REAL,
  airtime_seconds INTEGER
) STRICT;

 * sqlite:///SuperBowl_Finance.db
Done.

[]

In [35]:
%%sql
INSERT or REPLACE INTO ad_buys (ticker, company_name, ad_cost_millions, airtime_seconds)
VALUES
  ('PEP', 'PepsiCo', 7.0, 3.0),
  ('GOOGL', 'Google', 14.0, 60),
  ('AMZN', 'Amazon', 14.0, 60),
  ('VZ', 'Verizon', 7.0, 30),
  ('TSLA', 'Tesla', 0, 0),
  ('TMUS', 'T-Mobile', 10.0, 30),
  ('STLA', 'Setllantis (Jeep)', 6.5, 30);

 * sqlite:///SuperBowl_Finance.db
7 rows affected.

[]

In [36]:
%%sql
SELECT * FROM stock_performance;

 * sqlite:///SuperBowl_Finance.db
Done.

[('PEP', 168.5, 172.1, 45),
 ('GOOGL', 142.8, 145.2, 110),
 ('AMZN', 170.2, 178.45, 95),
 ('VZ', 40.1, 39.85, 60),
 ('TSLA', 190.0, 185.2, 150),
 ('TMUS', 197.68, 199.34, 100),
 ('STLA', 22.4, 23.1, 15)]

In [37]:
%%sql
SELECT ticker, price_before_game FROM stock_performance ORDER BY ticker ASC

 * sqlite:///SuperBowl_Finance.db
Done.

[('AMZN', 170.2),
 ('GOOGL', 142.8),
 ('PEP', 168.5),
 ('STLA', 22.4),
 ('TMUS', 197.68),
 ('TSLA', 190.0),
 ('VZ', 40.1)]

In [38]:
%%sql
SELECT * FROM stock_performance WHERE ticker LIKE 'T%'

 * sqlite:///SuperBowl_Finance.db
Done.

[('TSLA', 190.0, 185.2, 150), ('TMUS', 197.68, 199.34, 100)]

In [39]:
%%sql
SELECT ticker, price_week_after_game FROM stock_performance WHERE price_week_after_game > 150

 * sqlite:///SuperBowl_Finance.db
Done.

[('PEP', 172.1), ('AMZN', 178.45), ('TSLA', 185.2), ('TMUS', 199.34)]

In [41]:
%%sql
SELECT * FROM ad_buys;

 * sqlite:///SuperBowl_Finance.db
Done.

[('PEP', 'PepsiCo', 7.0, 3),
 ('GOOGL', 'Google', 14.0, 60),
 ('AMZN', 'Amazon', 14.0, 60),
 ('VZ', 'Verizon', 7.0, 30),
 ('TSLA', 'Tesla', 0.0, 0),
 ('TMUS', 'T-Mobile', 10.0, 30),
 ('STLA', 'Setllantis (Jeep)', 6.5, 30)]

In [42]:
%%sql
SELECT ticker, company_name FROM ad_buys ORDER BY company_name DESC

 * sqlite:///SuperBowl_Finance.db
Done.

[('VZ', 'Verizon'),
 ('TSLA', 'Tesla'),
 ('TMUS', 'T-Mobile'),
 ('STLA', 'Setllantis (Jeep)'),
 ('PEP', 'PepsiCo'),
 ('GOOGL', 'Google'),
 ('AMZN', 'Amazon')]

In [43]:
%%sql
SELECT ticker, airtime_seconds FROM ad_buys WHERE ticker LIKE 'T%' AND airtime_seconds = 0

 * sqlite:///SuperBowl_Finance.db
Done.

[('TSLA', 0)]